.container {
  background-color: rgb(100, 100, 187);
  display: flex;
  align-items: center;
}

.containerAppBar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appNameAnchor {
  margin-left: 2em;
  display: flex;
  align-items: center;
}

.projectName {
  margin-left: 1em;
  font-size: 1.3rem;
}

.logo {
  width: 36px;
  height: 36px;
  border-radius: 30%;
}

.containerBotoes {
  display: flex;
  align-items: center;
}

.botaoApp {
  padding: 1em 1em;
  font-size: 1.1rem;
}

.containerLateral {
}

.githubLogo {
  width: 40px;
}
