.commentList {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.commentList h3 {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 20px;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 10px;
}

.commentList ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.commentList .comment {
  font-size: 1rem;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.highlightedUser {
  color: red;
}
